<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChZXqcOkUoyjtKPC4yv2kpfFXmjCri2iM</string>
	<key>GCM_SENDER_ID</key>
	<string>954226465784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alamsyah.konekMobile</string>
	<key>PROJECT_ID</key>
	<string>konek-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>konek-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954226465784:ios:bd1342908f97d01ca7d40d</string>
</dict>
</plist>